                                            /* Elements */


h1{
    color: #EAF6F6;
    font-family: 'Kaisei Opti';
    font-size: 5rem;
    font-weight: 400;
    padding: 3% 0;
    text-align: center;
    line-height: 1.5;

}

@media screen and (max-width: 850px){
    h1{
        color: #EAF6F6;
        font-family: 'Kaisei Opti';
        font-size: 2.5rem;
        font-weight: 400;
        padding: 3% 0;
        text-align: center;
        line-height: 1.5;
    }
}

h2{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 1.5rem;
}


a{
    text-decoration: underline;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

a:hover{
    color: #c7ecf3;
}

h3{
    font-family: 'Playfair Display';
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4%;
}

.container-fluid{
    padding: 3% 3%;
}
                                            /* Tittle Section */

#title{
    height: 100vh;
}

.navbar-brand{
    font-size: 1.5rem;
}

.intro{
    text-align: center;
    line-height: 1.5;
    padding: 100px 0 100px;
    font-size: 2rem;
}


                                            /* About Section */

.profile-img{
    margin: 7%;
}

@media screen and (max-width:900px) {
    .profile-img{
        position: relative;
        left: 60px;
        width: 70%;
        margin: 4% 4% 6% 4%;
    }
}

.profile-msg{
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Nunito';
    font-weight: 400;
    padding: 25% 5%;
    line-height: 2;
    
}

                                            /* Skills Section */

#skills{
    padding: 5% 2%;
}

.card{
    background-color: black;
    color: #ffffff;
    text-align: left;
    margin: 3%;
}

.card-header{
    margin: 3%;
    font-family: 'Playfair Display';
}

.card-body{
    font-family: 'Nunito';
    font-weight: 400;
    margin: 5%;
}

                                            /* Hobbies Section */

#hobbies{
    color: #ffffff;
    padding: 50Px 0 50px;
    text-align: center;
    font-size: 0.5rem;
}

.caurosel-item{
    font-family: 'Nunito';
    padding: 7% 15%;
}

.hobbies-img{
    width: 10%;
    border-radius: 100%;
    padding: 3% 0;
}

                                        /* Contact Section */

#contact{
    color: #ffffff;
    padding: 3% 5%;
    text-align: center;
}
.cta{
    font-family: 'Playfair Display';
    font-size: 3rem;
}
.contact-msg{
    font-family: 'Nunito';
    font-size: 1.5rem;
    margin: 3%;
}

.email-btn{
    width: 20%;
    color: #ffffff;
}

.footer{
    margin: 3%;
}

.contact-link{
    color: #c7ecf3;
    margin: 3% 2%;
    font-size: 1.3rem;
}

.contact-link:hover{
    color: #ffffff;
}
.copyright{
    font-family: 'Playfair Display';
    font-size: 0.8rem;
    margin: 5%;
}
